<div class="container home-content">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <carousel [isAnimated]="true">
            <slide>
                <img src="../../../assets/skills/5.png" alt="First slide" class="d-block w-100 slide-img">
            </slide>
            <slide>
                <img src="../../../assets/skills/1.png" alt="First slide" class="d-block w-100 slide-img">
            </slide>
            <slide>
                <img src="../../../assets/skills/2.png" alt="First slide" class="d-block w-100 slide-img">
            </slide>
            <slide>
                <img src="../../../assets/skills/3.png" alt="First slide" class="d-block w-100 slide-img">
            </slide>
            <slide>
                <img src="../../../assets/skills/4.png" alt="First slide" class="d-block w-100 slide-img">
            </slide>
        </carousel>

    </div> 
    <div class="trusted-section">
      <h3>Trusted by over 3000+ individuals  from youtube and milliions of learners around the world</h3>
    </div>

    <!--<div class="cta-container">
        <h2>Join the community of learners and start your journey today!</h2>
        <a class="cta-btn" href="/courses">Explore Courses</a>
    </div>--->

    <!--this is where components are useful, this plan and pricing is separate component which will contains all the plan and pricing information
    home component will render this page along with its own html-->

    <app-category [viewType]="'list'"></app-category>
    <app-plan-and-pricing></app-plan-and-pricing>
     